.wrap{
    margin: 10vw;
    margin-bottom: 0px;
}

.pagination{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.pagination span img{
 width: 25px;
}
.features{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination span {
    margin: 10px;
    cursor: pointer;
   }
@media only screen and (max-width: 800px) {
 
    .card{

        width: 100%;
    }
    .wrap{
        margin: 5px;
    }

   }