.wrap{
    margin: 0 10vw 0 10vw ;
}

.pagination{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}
.pagination span img{
 width: 25px;
}
.features{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination span {
    margin: 10px;
    cursor: pointer;
   }
@media only screen and (max-width: 800px) {
 
    .card{

        width: 100%;
    }
    .wrap{
        margin: 5px;
    }

   }

 .add{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.add .card{
    width: 340px;
    height: 450px;
    background-color: #ebebeb;
}

.add .image{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add .wrap{
    margin: 0;
}

.add .cardContainer{
    width: 100%;
    height: 100%;
    padding: 25%;
}

.add .image{
    height: 50%;
    width: 100%;
}

.add .image img{
    height: 95%;
    width: 95%;
}

.add .productName , 
.add .price{
    color: black;
    font-size: 19px;
}

.add .wrap{
    display: flex;
    justify-content: space-between;
}

.add .stock{
    font-size: 16px;
}

.add .price input{
    width :95px;
    height: 35px;
}

.add .stock input{
    width :95px;
    height: 35px;
}

.add .productName input{
    width :155px;
    height: 35px;
}

.add .wrap {
    width: 100%;
}

.add .details{
    width: 100%;
}
 .add input{
    border: none;
    border-radius: 5px;}


    .add   input:focus {
            border-color: #9f9f9f;
            box-shadow: 0 0 8px 0 #a3a3a3;
    }
    .add input {
        width: 80%;
        border: none;   
        border-radius: 4px;
        margin: 8px 0;
        outline: none;
        padding: 8px;
        box-sizing: border-box;
        transition:  .3s;
        font-size: 17px;
    }