.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.cards .div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
