.intro{
width: 100% ;
height: 100%;
display:flex ;
}
.description{
    height:85%;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.image{
    height:85%;    width: 57%;
}
.details{
    height:350px;


}

  .details h1{
    font-size: max(1.7rem,25px);
    }
  .details p{
    font-size: max(1rem,15px);
    margin-top: 18px;
    width: max(280px,19rem);
    line-height: 190%;
  }

  
  .btn{
    border: solid 1px black;
  padding: 20px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  z-index: 1;
  overflow: hidden;
  transition:  .2s ease-out;

}
.btn:hover .trapese{
  left: 0;
}
.btn:hover {
color: white;}
.trapese{
  display: flex;
 height: 100%;
 width: 140%;
 position: absolute;
 z-index: -1;
 left: -147%;
 transition:  .7s ease-out;}

 .rectangle{
   width: 107%;
   height: 100%;
   background-color: black;}

 .triangle{
  margin-left: -1px;
  height: 100%;
  width: 27%;
  background-color: black;
  clip-path: polygon(0 0, 0 0, 100% 100%, 0 100%);}
 
 .cont{
  width: 75%;
  height: 350px;
  color: black;
  margin-left: 20%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
 }
 .img{
  width: 100%;
  height: 100%;
 }
@media only screen and (max-width: 750px) {
    .intro {
      flex-direction: column-reverse;
    }
    .description{
        width: 100%;
    }
    .cont {
      width: 100%;
      margin: 0;
      align-items: center;
    }
    .details{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      height: 150px;
    }
  
   }

  
  @media only screen and (max-width: 800px) {
   
      .image{
        height: 42%;
          width: 100%;
      }

      .image img{
        height: 120%;
      }

     }
