.card{
    width: 295px;
    height: 450px;
    background-color: #ebebeb;
}
.cardContainer{
    width: 100%;
    height: 100%;
    padding: 15%;
}
.image{
    height: 79%;
    width: 100%;
}
.image img{
    height: 95%;
    width: 95%;
}
.productName , .price{
    color: black;
    font-size: 19px;
}
.wrap{
    display: flex;
    justify-content: space-between;
}
.stock{
    font-size: 16px;
}
@media only screen and (max-width: 800px) {
 
    .card{

        width: 90%;
        height: 50%;
        margin-bottom: 20px;
    }
    .productName , .price{
        font-size: 14px;
    }
    .stock{
        font-size: 12px;
    }

   }
   .card span{
       font-weight: 800;
       font-size: 20px;
       color: black;
       cursor: pointer;
   }
   .wrap input{
    background-color: transparent;
        border:  none;
width: 130px;
    }
    .wrap input:focus{
        background-color: transparent;
        text-decoration: none;
        border:  none;
        
        }
        .wrap input:focus-visible{
            background-color: transparent;
            text-decoration: none;
            border:  none;
            outline-width: 0;
            
            }
            .stock input{
                background-color: transparent;
                    border:  none;
            width: 130px;
                }
                .stock input:focus{
                    background-color: transparent;
                    text-decoration: none;
                    border:  none;
                    
                    }
                    .stock input:focus-visible{
                        background-color: transparent;
                        text-decoration: none;
                        border:  none;
                        outline-width: 0;
                        
                        }